<div class="item">
            <div>Avatar URL</div>
            <div>
                <input 
                    required
                    type="url" 
                    name="avatar_url" 
                    placeholder="http://"
                    value="{{ instructor.avatar_url }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Intrutor</div>
            <div>
                <input 
                    required
                    type="text"
                    name="name"
                    placeholder="Nome do Instrutor"
                    value="{{ instructor.name }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input 
                    required
                    type="date" 
                    name="birth" 
                    value="{{ instructor.birth }}"
                >
            </div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div class="item-gender">
                <span>
                    <input
                    required 
                    type="radio" 
                    name="gender" 
                    value="M"
                    {% if instructor.gender == 'M' %}
                        checked
                    {% endif %} 
                    > Masculino
                </span>
                <span>
                    <input 
                    required
                    type="radio" 
                    name="gender" 
                    value="F"
                    {% if instructor.gender == 'F' %}
                        checked
                    {% endif %} 
                    > Feminino
                </span>
            </div>
        </div>

        <div class="item last-item">
            <div>Área de Atuação</div>
            <div>
                <input 
                    required
                    type="text" 
                    name="services"
                    placeholder="Separe os itens por virgula."
                    value="{{ instructor.services }}"
                >
            </div>
        </div>

        <button type="submit">Salvar</button>