<script>
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function(event) {
            const confirmation = confirm("Você está prestes a deletar seu cadastro. Deseja continuar?")
                if (!confirmation) {
                    event.preventDefault()
                }
            })
</script>